@media(max-width: 1023px) {
	.main-header .main-box .theme-logo-box {
		position: relative;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		margin: 0px;
		text-align: left;
	}

	.main-header,
	.main-header.fixed-header {
		position: relative;
		background-color: var(--bs-170350);
	}
}


@media(max-width: 767px) {
	.main-header .header-upper {
		padding: 16px 0;
	}

	.main-header.fixed-header .header-upper {
		padding: 8px 0;
	}

	.mobile-nav-toggler {
		display: block;
	}

	.main-header .nav-wrap {
		padding-right: 0px;
	}

	.main-menu .navigation>li.has-mega-menu {
		position: relative !important;
	}

	.header-upper .logo-outer {
		position: relative;
		left: 0px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		margin: 0px;
	}

	.main-menu {
		width: 100%;
		display: block;
	}
	.main-header .main-box .theme-logo-box {
		float: none;
		text-align: center;
		padding-bottom: 10px;
	}

	.main-header .header-lower .outer-box {
		position: absolute;
		z-index: 12;
		display: block;
	}

	.main-menu {
		display: none;
	}

	.nav-wrap .mobile-nav-toggler {
		display: block;
		margin: 0;
		padding: 24px 0px;
		margin-left: 0px;
		font-size: 32px;
		margin-top: 0px;
	}

	#navbarSupportedContent {
		display: block;
	}

	.mCSB_inside>.mCSB_container {
		margin-right: 16px;
	}

	.main-header .nav-wrap .mobile-nav-toggler {
		display: block;
		font-size: 30px;
		color: #ffffff;
	}

}